
[Desktop Entry]
Version=1.0
Name=SayThis
Comment=HTML speech to text app
GenericName=SayThis
Exec=chromium-browser --enable-plugins --enable-extensions --enable-user-scripts --enable-printing --enable-sync --use-gl=egl --ignore-gpu-blacklist --auto-ssl-client-auth %U --app-id=pcalifdijfgkblklmnofmioajppkaalb  --load-extension=/usr/share/webdialer/ --no-first-run
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=SayThis
StartupWMClass=Chromium
StartupNotify=true
