
[Desktop Entry]
Version=1.0
Name=SayThis
Comment=HTML speech to text app
GenericName=SayThis
Exec=webskeleton file:///usr/share/saythis/index.html
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=SayThis
StartupNotify=true
